<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalble=no">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <title>Adminto - <%-name%></title>
    <link rel="stylesheet" href="assets/plugins/morris/morris.css">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/jquery-ui.min.css" rel="stylesheet">
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="/dashboard" class="logo"><span>Rocket<span>Traffic</span></span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button id="btn-left-right" class="button-menu-mobile open-left">
                                    <i class="fa fa-angle-double-left"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title">Conversions</h4>
                            </li>
                        </ul>

                        <!-- Right(Notification and Searchbox -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <!-- Notification -->
                                <div class="notification-box">
                                    <ul class="list-inline m-b-0">
                                        <li>
                                            <a href="#" class="right-bar-toggle">
                                                <i class="zmdi zmdi-notifications-none"></i>
                                            </a>
                                            <div class="noti-dot">
                                                <span class="dot"></span>
                                                <span class="pulse"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Notification bar -->
                            </li>
                           <!--  <li class="hidden-xs">
                                <form role="search" class="app-search">
                                    <input type="text" placeholder="Search..."
                                           class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </li> -->
                        </ul>

                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="<%-avatar%>" alt="user-img" title="<%-name%>" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="#"><%-name%></a> </h5>
                        <ul class="list-inline">
                            <li>
                                <a href="/logout" class="text-custom" id="btn-logout">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                          <li class="text-muted menu-title">Navigation</li>
                            <%-admin%>
                            <li class="parent parent-focus"><a><i class="fa fa-suitcase"></i> <span>Offers</span></a>
                                <ul class="children">
                                    <li>
                                        <a href="/offers" class="waves-effect"><i class="fa fa-list" hidden="true"></i> <span> All Offers </span> </a>
                                    </li>
                                    <%-myOffer%>
                                    <%- addOffer %>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="/reportclick" class="waves-effect"><i class="fa fa-file-text-o" aria-hidden="true"></i><span> Report Click </span></span></a>
                            </li>
                            <li class="has_sub">
                                <a href="/conversion" class="waves-effect"><i class="fa fa-usd"></i><span> Conversions </span></a>
                            </li>
                            <%-icon%>
                            <%-download%>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-color panel-tabs panel-success">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="navpills-1" class="tab-pane fade in active">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="card-box table-responsive">
                                                                          <select class="select-drop-blue sel-country" name="country" id="country">
                                                                                    <option value="all" selected="selected">All Country</option>
                                                                                    <option value="af">Afghanistan</option>
                                                                                    <option value="ax">Åland Islands</option>
                                                                                    <option value="al">Albania</option>
                                                                                    <option value="dz">Algeria</option>
                                                                                    <option value="ad">Andorra</option>
                                                                                    <option value="ao">Angola</option>
                                                                                    <option value="ai">Anguilla</option>
                                                                                    <option value="ag">Antigua and Barbuda</option>
                                                                                    <option value="ar">Argentina</option>
                                                                                    <option value="am">Armenia</option>
                                                                                    <option value="aw">Aruba</option>
                                                                                    <option value="au">Australia</option>
                                                                                    <option value="at">Austria</option>
                                                                                    <option value="az">Azerbaijan</option>
                                                                                    <option value="bs">Bahamas</option>
                                                                                    <option value="bh">Bahrain</option>
                                                                                    <option value="bd">Bangladesh</option>
                                                                                    <option value="bb">Barbados</option>
                                                                                    <option value="by">Belarus</option>
                                                                                    <option value="be">Belgium</option>
                                                                                    <option value="bz">Belize</option>
                                                                                    <option value="bj">Benin</option>
                                                                                    <option value="bm">Bermuda</option>
                                                                                    <option value="bt">Bhutan</option>
                                                                                    <option value="bo">Bolivia</option>
                                                                                    <option value="bq">Bonaire, Sint Eustatius and Saba</option>
                                                                                    <option value="ba">Bosnia and Herzegovina</option>
                                                                                    <option value="bw">Botswana</option>
                                                                                    <option value="br">Brazil</option>
                                                                                    <option value="bn">Brunei Darussalam</option>
                                                                                    <option value="bg">Bulgaria</option>
                                                                                    <option value="bf">Burkina Faso</option>
                                                                                    <option value="kh">Cambodia</option>
                                                                                    <option value="cm">Cameroon</option>
                                                                                    <option value="ca">Canada</option>
                                                                                    <option value="cv">Cape Verde</option>
                                                                                    <option value="ky">Cayman Islands</option>
                                                                                    <option value="cf">Central African Republic</option>
                                                                                    <option value="cl">Chile</option>
                                                                                    <option value="cn">China</option>
                                                                                    <option value="cc">Cocos (Keeling) Islands</option>
                                                                                    <option value="co">Colombia</option>
                                                                                    <option value="cr">Costa Rica</option>
                                                                                    <option value="ci">Côte d'Ivoire</option>
                                                                                    <option value="hr">Croatia</option>
                                                                                    <option value="cw">Curaçao</option>
                                                                                    <option value="cy">Cyprus</option>
                                                                                    <option value="cz">Czech Republic</option>
                                                                                    <option value="dk">Denmark</option>
                                                                                    <option value="dj">Djibouti</option>
                                                                                    <option value="dm">Dominica</option>
                                                                                    <option value="do">Dominican Republic</option>
                                                                                    <option value="ec">Ecuador</option>
                                                                                    <option value="eg">Egypt</option>
                                                                                    <option value="sv">El Salvador</option>
                                                                                    <option value="gq">Equatorial Guinea</option>
                                                                                    <option value="ee">Estonia</option>
                                                                                    <option value="et">Ethiopia</option>
                                                                                    <option value="fo">Faroe Islands</option>
                                                                                    <option value="fj">Fiji</option>
                                                                                    <option value="fi">Finland</option>
                                                                                    <option value="fr">France</option>
                                                                                    <option value="gf">French Guiana</option>
                                                                                    <option value="pf">French Polynesia</option>
                                                                                    <option value="gm">Gambia</option>
                                                                                    <option value="ge">Georgia</option>
                                                                                    <option value="de">Germany</option>
                                                                                    <option value="gh">Ghana</option>
                                                                                    <option value="gi">Gibraltar</option>
                                                                                    <option value="gr">Greece</option>
                                                                                    <option value="gl">Greenland</option>
                                                                                    <option value="gd">Grenada</option>
                                                                                    <option value="gp">Guadeloupe</option>
                                                                                    <option value="gu">Guam</option>
                                                                                    <option value="gt">Guatemala</option>
                                                                                    <option value="gg">Guernsey</option>
                                                                                    <option value="gn">Guinea</option>
                                                                                    <option value="gy">Guyana</option>
                                                                                    <option value="ht">Haiti</option>
                                                                                    <option value="hn">Honduras</option>
                                                                                    <option value="hk">Hong Kong</option>
                                                                                    <option value="hu">Hungary</option>
                                                                                    <option value="is">Iceland</option>
                                                                                    <option value="in">India</option>
                                                                                    <option value="id">Indonesia</option>
                                                                                    <option value="ir">Iran</option>
                                                                                    <option value="iq">Iraq</option>
                                                                                    <option value="ie">Ireland</option>
                                                                                    <option value="im">Isle of Man</option>
                                                                                    <option value="il">Israel</option>
                                                                                    <option value="it">Italy</option>
                                                                                    <option value="jm">Jamaica</option>
                                                                                    <option value="jp">Japan</option>
                                                                                    <option value="je">Jersey</option>
                                                                                    <option value="jo">Jordan</option>
                                                                                    <option value="kz">Kazakhstan</option>
                                                                                    <option value="ke">Kenya</option>
                                                                                    <option value="kr">Korea - South</option>
                                                                                    <option value="kw">Kuwait</option>
                                                                                    <option value="kg">Kyrgyzstan</option>
                                                                                    <option value="la">Laos</option>
                                                                                    <option value="lv">Latvia</option>
                                                                                    <option value="lb">Lebanon</option>
                                                                                    <option value="lr">Liberia</option>
                                                                                    <option value="ly">Libya</option>
                                                                                    <option value="li">Liechtenstein</option>
                                                                                    <option value="lt">Lithuania</option>
                                                                                    <option value="lu">Luxembourg</option>
                                                                                    <option value="mo">Macao</option>
                                                                                    <option value="mk">Macedonia</option>
                                                                                    <option value="mg">Madagascar</option>
                                                                                    <option value="mw">Malawi</option>
                                                                                    <option value="my">Malaysia</option>
                                                                                    <option value="mv">Maldives</option>
                                                                                    <option value="ml">Mali</option>
                                                                                    <option value="mt">Malta</option>
                                                                                    <option value="mh">Marshall Islands</option>
                                                                                    <option value="mq">Martinique</option>
                                                                                    <option value="mu">Mauritius</option>
                                                                                    <option value="mx">Mexico</option>
                                                                                    <option value="md">Moldova</option>
                                                                                    <option value="mc">Monaco</option>
                                                                                    <option value="mn">Mongolia</option>
                                                                                    <option value="me">Montenegro</option>
                                                                                    <option value="ms">Montserrat</option>
                                                                                    <option value="ma">Morocco</option>
                                                                                    <option value="mz">Mozambique</option>
                                                                                    <option value="mm">Myanmar</option>
                                                                                    <option value="nr">Nauru</option>
                                                                                    <option value="np">Nepal</option>
                                                                                    <option value="nl">Netherlands</option>
                                                                                    <option value="nc">New Caledonia</option>
                                                                                    <option value="nz">New Zealand</option>
                                                                                    <option value="ni">Nicaragua</option>
                                                                                    <option value="ne">Niger</option>
                                                                                    <option value="ng">Nigeria</option>
                                                                                    <option value="mp">Northern Mariana Islands</option>
                                                                                    <option value="no">Norway</option>
                                                                                    <option value="om">Oman</option>
                                                                                    <option value="pk">Pakistan</option>
                                                                                    <option value="ps">Palestinian Territory</option>
                                                                                    <option value="pa">Panama</option>
                                                                                    <option value="py">Paraguay</option>
                                                                                    <option value="pe">Peru</option>
                                                                                    <option value="ph">Philippines</option>
                                                                                    <option value="pl">Poland</option>
                                                                                    <option value="pt">Portugal</option>
                                                                                    <option value="pr">Puerto Rico</option>
                                                                                    <option value="qa">Qatar</option>
                                                                                    <option value="re">Reunion</option>
                                                                                    <option value="ro">Romania</option>
                                                                                    <option value="ru">Russian Federation</option>
                                                                                    <option value="rw">Rwanda</option>
                                                                                    <option value="kn">Saint Kitts and Nevis</option>
                                                                                    <option value="lc">Saint Lucia</option>
                                                                                    <option value="mf">Saint Martin</option>
                                                                                    <option value="vc">Saint Vincent and the Grenadines</option>
                                                                                    <option value="ws">Samoa</option>
                                                                                    <option value="sa">Saudi Arabia</option>
                                                                                    <option value="sn">Senegal</option>
                                                                                    <option value="rs">Serbia</option>
                                                                                    <option value="sc">Seychelles</option>
                                                                                    <option value="sl">Sierra Leone</option>
                                                                                    <option value="sg">Singapore</option>
                                                                                    <option value="sx">Sint Maarten (Dutch part)</option>
                                                                                    <option value="sk">Slovakia</option>
                                                                                    <option value="si">Slovenia</option>
                                                                                    <option value="so">Somalia</option>
                                                                                    <option value="za">South Africa</option>
                                                                                    <option value="es">Spain</option>
                                                                                    <option value="lk">Sri Lanka</option>
                                                                                    <option value="sd">Sudan</option>
                                                                                    <option value="sr">Suriname</option>
                                                                                    <option value="sz">Swaziland</option>
                                                                                    <option value="se">Sweden</option>
                                                                                    <option value="ch">Switzerland</option>
                                                                                    <option value="sy">Syria</option>
                                                                                    <option value="tw">Taiwan</option>
                                                                                    <option value="tj">Tajikistan</option>
                                                                                    <option value="tz">Tanzania, United Republic of</option>
                                                                                    <option value="th">Thailand</option>
                                                                                    <option value="tl">Timor-Leste</option>
                                                                                    <option value="tt">Trinidad and Tobago</option>
                                                                                    <option value="tn">Tunisia</option>
                                                                                    <option value="tr">Turkey</option>
                                                                                    <option value="tm">Turkmenistan</option>
                                                                                    <option value="tc">Turks and Caicos Islands</option>
                                                                                    <option value="ug">Uganda</option>
                                                                                    <option value="ua">Ukraine</option>
                                                                                    <option value="ae">United Arab Emirates</option>
                                                                                    <option value="uk">United Kingdom</option>
                                                                                    <option value="us">United States</option>
                                                                                    <option value="uy">Uruguay</option>
                                                                                    <option value="uz">Uzbekistan</option>
                                                                                    <option value="vu">Vanuatu</option>
                                                                                    <option value="ve">Venezuela, Bolivarian Republic of</option>
                                                                                    <option value="vn">Vietnam</option>
                                                                                    <option value="vg">Virgin Islands, British</option>
                                                                                    <option value="vi">Virgin Islands, U.S.</option>
                                                                                    <option value="ye">Yemen</option>
                                                                                    <option value="zm">Zambia</option>
                                                                                    <option value="zw">Zimbabwe</option>
                                                                            </select>
                                                                            <select class="select-drop-blue sel-OS" name="os" id="os">
                                                                                <option value="all">All</option>
                                                                                <option value="android">Android</option>
                                                                                <option value="apple">IOS</option>
                                                                            </select>
                                                                            <%- memSel%>
                                                                            <input type="text" id="dateFilterStart" class="sel-date" placeholder="Start Date">
                                                                            <input type="text" id="dateFilterEnd" class="sel-date" placeholder="End Date">
                                                                            <button type="" id="filter" class="waves-effect waves-light filter"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Filter</button>
                                                                            <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                                                <div class="row">
                                                                                    <div class="col-sm-9">
                                                                                    </div>
                                                                                    <div class="col-sm-3" style="margin-top: 1em">
                                                                                        <div id="datatable-responsive_filter" class="dataTables_filter">
                                                                                            <label class="label-search">
                                                                                                <input type="search" class="ip-searchfix" id="search" placeholder="Search...." aria-controls="datatable-responsive">
                                                                                                <button id="btn-search" class="form-control input-sm custom-Search"><i class="fa fa-search"></i></button>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                                                                                        <thead>
                                                                                            <tr role="row">
                                                                                                <th class="sorting_asc fixcenter colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 0px;">ID</th>
                                                                                                <th class="sorting colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="platform: activate to sort column ascending" style="width: 0px;text-align: center;">Name App</th>
                                                                                                <th class="sorting colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="platform: activate to sort column ascending" style="width: 0px;text-align: center;">Name</th>
                                                                                                <th class="sorting colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="platform: activate to sort column ascending" style="width: 0px;text-align: center;">Offer ID</th>
                                                                                                <th class="sorting fixcenter colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 0px;">Time</th>
                                                                                                <th class="sorting fixcenter colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="Url: activate to sort column ascending" style="width: 0px;">IP Address</th>
                                                                                                <th class="sorting fixcenter colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="Payout: activate to sort column ascending" style="width: 0px;">User Agent</th>
                                                                                                <th class="sorting fixcenter colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="Cap: activate to sort column ascending" style="width: 0px;">Country</th>
                                                                                                <th class="sorting fixcenter colorCustom" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" style="width: 0px;">Transaction ID</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-6 pull-right">
                                                                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-responsive_paginate">
                                                                                        <ul class="pagination" id="pag">
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- end col -->
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div> <!-- container -->

                </div> <!-- content -->
                    
                <footer class="footer text-right">
                    2017 © Van Viet Quoc Anh
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="zmdi zmdi-close-circle-o"></i>
                </a>
                <h4 class="">Notifications</h4>
                <div class="notification-list nicescroll">
                    <ul class="list-group list-no-border user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">2 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-info">
                                    <i class="zmdi zmdi-account"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">New Signup</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">5 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-pink">
                                    <i class="zmdi zmdi-comment"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">New Message received</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">1 day ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <span class="name">James Anderson</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">2 days ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-warning">
                                    <i class="zmdi zmdi-settings"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">Settings</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">1 day ago</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/jquery-ui.min.js"></script>
        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
        <script src="assets/plugins/morris/morris.min.js"></script>
        <script src="assets/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <!-- <script src="assets/pages/jquery.dashboard.js"></script> -->

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
        <script src="assets/js/customs/reportClick.js"></script>
        <script>
            $("a[href = 'special']").addClass('active');
            $("#btn-logout").children().css({"color":"#98a6ad"})
            $("#btn-logout").hover(function() {
                $("#btn-logout").children().css({"color":"#188ae2"})
            }, function() {
                $("#btn-logout").children().css({"color":"#98a6ad"})
            });
            //get API 
            var data = {
                "platform"      : "",
                "country"       : "",
                "querySearch"   : "",
                "member"        : "",
                "startDate"     : "",
                "endDate"       : "",
                "countStart"    : 0,
                "countEnd"      : 500
            }
            sortItems.getAPI("/conversionlist", data);
            // window.onscroll = function(){
            //     sortItems.scroll();
            // }
        </script>
        <!-- <script src="./assets/js/customs/goTop.js"></script> -->
    </body>
</html>